@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
    text-align: center;
}

li a {
    display: block;
    width: fill;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    color: #424242;

}

li a:hover {
    background-color: #1565C0;
    color: #f1f1f1;
}